body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 3000px;
}
.page {
  display: block;
  width: 80%;
  margin: 0 auto;
  /* border:1px solid red; */
}
header {
  background-color: white;
  margin-top: 20px;
  width: auto;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid rebeccapurple; */
}
.logo img {
  height: 41px;
  width: 160px;
}
ul {
  margin-right: 0px;
  margin-left: 150px;
  /* border: 1px solid red; */
}
li {
  display: inline;
  margin-left: 10px;
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  color: gray;
  font-size: 15px;
  margin-right: 20px;
}
li:first-child {
  font-weight: bold;
  color: black;
}
/* header ends */
.section1-container {
  display: flex;
  /* width: 95%; */
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.section1-img1 img {
  width: auto;
  height: auto;
  position: absolute;
  margin-left: -125px;
  /* border: 1px solid red; */
}
.section1-img1 {
  /* border: 1px solid green; */
}
.section1-text {
  display: flex;
  flex-direction: column;
  /* padding-top: 50px; */
  /* margin-left: 50px; */
  margin-right: 40px;
  justify-content: center;
  /* border: 1px solid red;   */
}
.section1-text .heading {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  padding: 5px;
  font-style: italic;
  font-weight: bolder;
}
.section1-text .section1-content {
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
  font-size: smaller;
  color: #7d7987;
  font-style: normal;
}
.section1-img2 img {
  /* margin-right: 20px; */
  height: 500px;
  width: 600px;
  /* border: 1px solid blue; */
}
.consult {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  margin-top: 30px;
  color: white;
  background-color: #458ff6;
  width: 150px;
  height: 40px;
  border-radius: 55px;
  border: none;
  outline: none;
}
/* section 1 ends */
.section2-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section2-heading {
  margin-left: 40%;
}
.hr1 {
  border: 1px solid black;
  width: 60px;
  margin-left: 44%;
  margin-bottom: 10px;
  /* justify-content: center; */
}
article {
  font-family: "Mulish", sans-serif;
  text-align: center;
  color: #7d7987;
  padding-left: 10%;
  padding-right: 10%;
}
.section3 {
  margin: 40px;
  /* border: 1px solid red;  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-image: url("images/bg\ element.png");
  background-repeat: no-repeat; */
}
.back-img {
  background-image: url("./images/bg\ element.png");
  position: absolute;
  margin-left: -250px;
  margin-top: -230px;
  z-index: 1;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  /* padding: 10px; */
  height: 300px;
  width: 30%;
  /* overflow: hidden; */
  border-radius: 10px;
  background-color: white;
  /* border: 1px solid red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}
.card img {
  height: 80;
  width: 90;
}
.content {
  /* padding: 20px; */
  /* border: 1px solid red; */
}
.avatar {
  width: 80px;
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  /* margin-top: 0px; */
  /* border-radius: 40px; */
  /* background-color: #d6e9fe; */
  /* border: 1px solid red; */
}
.username {
  font-family: "Mulish", sans-serif;
  margin-left: 20px;
  text-align: left;
  /* margin-left: 20px; */
  /* padding: 10px; */
  font-style: normal;
  font-weight: bolder;
  /* border: 1px solid red; */
}
.comment {
  font-family: "Mulish", sans-serif;
  color: #7d7987;
  font-weight: lighter;
  /* margin: 10px; */
  padding-left: 20px;
  padding-right: 10px;
  overflow: hidden;
  /* border: 1px solid red; */
}
.learn-more {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: medium;
  color: #458ff6;
  margin: 0 auto;
  margin-top: 40px;
  width: 130px;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  outline: none;
  border: 1px solid #458ff6;
}
.section4-btn {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: medium;
  color: #458ff6;
  margin-top: 20px;
  width: 150px;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  outline: none;
  border: 1px solid #458ff6;
  margin: 0 auto;
}
.section4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.section4 img {
  width: 550px;
  height: 407px;
  /* padding-right: 30px; */
  /* border: 1px solid red; */
}
.section4-div1 {
}
.section4-div2 {
  margin: 50px;
  /* border: 1px solid blue; */
}
.section4-heading {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  margin-right: 20px;
  font-size: x-large;
  line-height: 40px;
  padding-bottom: 10px;
  /* border: 1px solid red; */
}
.h-2 {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: x-large;
  line-height: 40px;
  padding-bottom: 5px;
}
.section4-content {
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
  font-size: smaller;
  color: #7d7987;
  font-style: normal;
  padding: 30px 30px 30px 0px;
  /* border: 1px solid red; */
}
.hr2 {
  border: 1px solid black;
  width: 50px;
  margin: 2px 0;
  /* margin-left: 44%; */
}
.section5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
  /* border: 1px solid red; */
}
.section5 img {
  width: 550px;
  height: 407px;
}
.section4-div1 {
  padding-left: 40px;
}
.section4-div2 {
  margin: 50px;
}

.section5-content {
  font-family: "Mulish", sans-serif;
  font-weight: lighter;
  font-size: smaller;
  color: #7d7987;
  font-style: normal;
  padding: 30px 30px 30px 0px;
}
.hr2 {
  border: 1px solid black;
  width: 50px;
  margin: 2px 0;
}
.download-btn {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  color: #458ff6;
  margin-top: 20px;
  padding: 15px;
  width: 150px;
  outline: none;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #458ff6;
}
.download-btn img {
  margin-bottom: -2px;
  margin-left: 5px;
  width: auto;
  height: auto;
}
